h1{
    text-align:center;
}
legend{
    color:rgb(228, 125, 0);
    font-weight: bold;
    font-size: 1.2em;
}
fieldset{
    border:2px solid orange;
    font-weight: bold;
}
.naranja
{
    background-color: rgb(253, 253, 226);
}

input{

}
#accesocampus
{
    border:2px solid brown;
}
#ciclos
{
    padding:2px;
}
#gradsup
{
    font-weight: bold;
    color: lightblue;
}
#gradmed
{
    color: rgb(97, 190, 221);
}